#jessieTheBody {
    .bg-white {
      background-color: white;
    }

    .bg-light-grey {
      background-color: #E8E8E8;
    }

    .bg-medium-grey {
      background-color: #ccc;
    }

    .bg-dark-grey {
      background-color: #666;
    }

    .bg-red {
      background-color: #ff0000;
    }

    .bg-accent {
      background-color: lightslategrey;
    }

    .txt-center {
      text-align: center;
    }

    .txt-left {
      text-align: left;
    }

    .txt-right {
      text-align: right;
    }

    .txt-accent {
      color: lightslategrey;
    }

    .txt-medium-grey {
      color: #ccc;
    }

    .txt-grey {
      color: #666;
    }
.is-hidden {
  display: none;
}

}