:root#jessieTheBody {
  font-family: 'Montserrat', helvetica neue, arial, sans-serif;
  color: #333;
  font-size: 16px;
}

.borderererzzz {
  outline: 1px solid red !important;
}

.shaderererzzz {
  background-color: rgba(2, 2, 2, .2) !important;
}

//---------------
// Colors
//----------------

$primary:#B90504;
$primary-dark: #990100;
$gray: #333;
$gray-light: #E8E8E8;

//---------------
// Files
//----------------

@import "helper";
@import "form";
@import "btn";
@import "type";

@import "components/features";
@import "components/settings";
@import "components/screens";
@import "components/sticky-hover";

 


.cp-app.alpha-bg-w.S.XS.light {
  top: .5rem !important;
  left: .5rem !important;
}
