/* response.style */
.borderererzzz {
  box-shadow:inset 0px 0px 0px 1px red;
}

.shaderererzzz {
	background-color: rgba(2,2,2, .2);
}
.bothemememzzz {
	background-color: rgba(2,2,2, .2);
	box-shadow:inset 0px 0px 0px 1px red;
}

.img-shadow {
    position: relative;
    max-width: 100%;
	display: inline-block;
}

.img-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0px 0px 0px 1px red;
}